@charset "utf-8";
/* CSS Document */

body{
 font-family: "Open Sans", Arial, sans-serif;
 font-size: 14px;
 font-weight: 350;
 color: #333;
}
input{
 width: 98%;
 height: 40px;
 font: 300 24px "Open Sans", Arial, sans-serif;
/* margin: 5px 0 10px 0;*/
}
input[type=submit]{
 background-color:#bf3619;
 height:50px;
 width:100%;
 //border:none;
 font-weight:400;
 letter-spacing:2px;
 color:#FFFFFF;
}

#form{
 width: 98%;
 height: auto;
 margin: 0 auto;
 padding: 0 1%;
/* box-shadow: 5px 5px 0 #AAA;
 border-radius: 5px;*/
}

